<h1>关于话题</h1>

<p>

<br><br>动物

<br><br>什么动物最能代表你？为什么？

<br><br>什么生物吓到你？为什么？

<br><br>除了食物，人类需要其他动物吗？为什么或者为什么不？

<br><br>拯救濒危物种最有效的方法是什么？

<br><br>有助于动物生存的有用特征的一些例子是什么？ （即长颈鹿的长颈）

<br><br>什么是达尔文？

<br><br>什么特质使人类成为一个成功的物种？

<br><br>你能想到的最可爱的动物是什么？最丑的怎么样？

<br><br>为什么人类有宠物？你有宠物吗？为什么或者为什么不？

<br><br>有什么动物要彻底杀死吗？

</p>
