<h1>About</h1>

<p>
  <br><br>Animals

  <br><br>What animal best represents you? Why?

  <br><br>What creature scares you? Why?

  <br><br>Except for food, do humans need other animals? Why or why not?

  <br><br>What is the most effective way to save endangered species?

  <br><br>What are some examples of useful traits that help animals survive? (i.e. a giraffe’s long neck)

  <br><br>What is Darwin famous for?

  <br><br>What traits have made humans a successful species?

  <br><br>What is the cutest animal you can think of? How about the ugliest?

  <br><br>Why do humans have pets? Do you have a pet? Why or why not?

  <br><br>Are there any animals that we should try to kill off completely?
</p>
